__pycache__
venv
models
dist
/assets/*
!/assets/media/
/assets/media/*
!/assets/media/people-detection.mp4
!/assets/media/person-bicycle-car-detection.mp4

/tests/scan/*
!/tests/scan/coverity_scan.sh

/custom_models/*
!/custom_models/README.md
