opencv-python
#openvino-dev
#openvino
openvino-genai>=2024.3.0
utils
tqdm
scikit-learn
pandas
seaborn
nncf>=2.8.1
matplotlib>=3.4
pyyaml
datasets
accelerate
gradio>=4.19
transformers>=4.38.1
bitsandbytes
tiktoken
transformers_stream_generator
einops
onnx
optimum
optimum-intel>=1.21.0
ipython
